<div class="container" align="center">
  <div class="jumbotron">
    <p><%= image_tag 'chikusho_logo.png', width: '240px' %></p>
    <h1>ちくしょう。ジェネレーター</h1>
    <p id="subtitle">あなたの好きな写真で<strong>「ちくしょう。転職だ！」</strong>バナー写真を作れます。</p>
    <p id="description">
      転職サイト「Green」の広告でお馴染みのフレーズ、「ちくしょう、転職だ！」。<br>
      そのフレーズとあなたの写真で「ちくしょう写真」を作ってみませんか？
    </p>
    <%= link_to '写真をつくる', select_flame_and_upload_path, class: 'btn btn-success btn-lg create_photo_btn' %>
    <%= link_to '写真をみる', show_gallery_path, class: 'btn btn-info btn-lg show_gallery_btn' %>

    <p class="banner_photo">
      <%= link_to 'http://www.green-japan.com', target: '_blank' do %>
        <%= image_tag 'chikusho_top2.jpg' %>
      <% end %>
    </p>
  </div>
</div>
