<% if flash[:error] %>
  <div class="alert alert-warning"><%= flash[:error] %></div>
<% end %>

<div class="container">
  <div class="page-header">
    <h1>フレームの選択・写真のアップロード&nbsp;<small>(Step 1/3)</small></h1>
  </div>
  <p>使用するフレームを選択してください。</p>

  <div class="row">
    <div class="col-md-6 flame_select_area">
      <% CHIKUSHO_FLAMES.each_with_index do |flame_img, index| %>
        <div class="col-md-4 thumb_col">
          <%= link_to '#', id: "flame#{index}", class: "thumbnail flame_thumb #{'photo_bg_blk' if index % 3 == 1}" do %>
            <%= image_tag "#{flame_img}" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= form_for @image, url: images_upload_path do |f| %>
      <div class="col-md-3 thumb_col photo_upload_area clearfix">
        <%= f.file_field :input %>
        <label><%= f.check_box :public_flg %>この写真をギャラリーに公開する</label>
        <%= hidden_field_tag :flame_id %>

        <%= f.submit '次に進む', class: 'btn btn-success btn-lg next_btn', disabled: 'disabled' %>
      </div>
    <% end %>
  </div>
</div>
