<div class="container" align="center">
  <div class="jumbotron">
    <p><%= image_tag 'chikusho_logo.png', width: '240px' %></p>
    <h1>ちくしょう。ジェネレーター</h1>
    <p id="subtitle">あなたの好きな写真で<strong>「ちくしょう。転職だ！」</strong>バナー写真を作れます。</p>

    <!-- ここに写真を表示 -->
    <p align="center"><%= image_tag(get_output_path(@image_id), height: '300px') %></p>

    <%= link_to '写真をつくる', select_flame_and_upload_path, class: 'btn btn-success btn-lg' %>
    <%= link_to '他の写真をみる', show_gallery_path, class: 'btn btn-info btn-lg' %></br>

    <ul class="social-btns">
      <li class="tweet"></li>
      <li class="google_plusone"></li>
      <li class="facebook_like"></li>
      <li class="hatena"></li>
    </ul>

    <p class="banner_photo">
      <%= link_to 'http://www.green-japan.com', target: '_blank' do %>
        <%= image_tag 'chikusho_top2.jpg' %>
      <% end %>
    </p>
  </div>
</div>
